*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
    background: rgb(251,244,204)!important;
    /*color: #fff;*/
    /*background: url("../images/snow.jpg") no-repeat center center;*/
    /*background-size: 100% 100%;*/
    color: #000;
    box-sizing: border-box;
    padding-top: 28px;
}
hr{
    border-top: 1px solid #fff!important;
}
a{
    color: #fff!important;
    text-decoration:none;
}
.list-group-item a {
    color: #fff!important;
    text-decoration:none;
}
input{
    width: 300px!important;
}
h3{
    margin-top: 40px;
    text-align: left;
}
li{
    list-style: none;
}
.bg-dark{
    background:#000!important;
    color: #fff!important;
}
h1,h3{
    color: #000!important;
}
label{
    color: #000!important;
}
textarea{
    width: 300px!important;
    height: 100px!important;
    resize:none;
}
#textareaChange{
    height:200px!important;
    width:100%!important;
}
header,.continfobox{
    background: #fff;
    color: #000;
}
.ml10{
    margin-right: 5px;
    padding: 10px;
}
.textAlignCenter{
    text-align: center!important;
}
.visible-lg, .visible-md, .visible-sm, .visible-xs {
    display: none!important;
}
@media (min-width: 1200px){
    .visible-lg {
        display: block!important;
    }

}
.wdb{
    word-break: break-all;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.pt2{
    padding-top: 2px;
}
.pb2{
    padding-bottom: 2px;
}
.pt6{
    padding-top: 6px;
}
.cha{
    display: none;
}
.bl0{
    border-left:none !important;
}
h5{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;            /*设置p元素最大4行，父元素需填写宽度才明显*/
    text-overflow: ellipsis;
    overflow: hidden;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    /*因为代码环境的关系-webkit-box-orient被过滤掉了 autoprefixer 这个关键字可以免除被过滤的动作*/
    word-wrap:break-word;
    word-break:break-all;
}
@media (min-width: 768px){
    .footOne{
        display: block;
        height: 86px;
        font-size: 12px;
        position: fixed;
        bottom: 0px;
        /*left: 50%;*/
        left: 0px;
        line-height:22px;
        text-align: center;
        /*transform: translateX(-50%);*/
        /*-webkit-transform: translateX(-50%);*/
        /*-ms-transform: translateX(-50%);*/
        /*-moz-transform: translateX(-50%);*/
        /*-o-transform: translateX(-50%);*/
        width: 100%;
        border-top: 1px solid #fff;
        background:#000!important;
        color: #fff;
        padding: 10px 0px;
    }
    .footTwo{
        display: none;
    }
    .newInfo{
        margin-bottom: 100px!important;
    }
}
@media (max-width: 768px){
    .footOne {
        display: none;
    }
    .footTwo{
        height: 87px;
        font-size: 12px;
        position: fixed;
        bottom: 0px;
        /*left: 50%;*/
        left: 0px;
        line-height: 29px;
        text-align: center;
        /*transform: translateX(-50%);*/
        /*-webkit-transform: translateX(-50%);*/
        /*-ms-transform: translateX(-50%);*/
        /*-moz-transform: translateX(-50%);*/
        /*-o-transform: translateX(-50%);*/
        width: 100%;
        border-top: 1px solid #fff;
        background:#000!important;
        color: #fff;
    }
    .newInfo{
        margin-bottom: 100px!important;
    }
}
.mt0{
   margin-bottom: 0px!important;
}
.w300{
    width: 300px;
}
.mr10{
    margin-right: 10px;
}
