.bod{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.des{
    height: 40px;
}
@media (min-width: 768px){
    .videoLeft{
        position: relative;
        height: 400px;
    }
    .videoLeft video{
        width: 100%;
        height: 380px;
        position: absolute;
        left:0px;
        top:0px;
        box-sizing: border-box;
        padding:10px;
    }
    .videoRight{
        height: 363px;
        /*background: #fff;*/
        box-sizing: border-box;
        padding:0px;
        /*padding-left: 0px;*/
        /*margin-left: 10px;*/
        /*background: rgb(251,244,204)!important;*/
    }
    .videoRight .topVideo{
        height: 181.5px!important;
        /*background: rgb(251,244,204)!important;*/
    }
    .videoRight .topVideo video{
        width: 100%;
        height: 181.5px!important;
    }
    .videoRight .bottomVideo{
        height: 181.5px!important;
        /*background: rgb(251,244,204)!important;*/
    }
    .videoRight .bottomVideo video{
        width: 100%;
        height: 181.5px!important;
    }
}
@media (max-width: 768px){
    .videoLeft{
        position: relative;
        height: 200px;
    }
    .videoLeft video{
        width: 100%;
        height: 180px;
        position: absolute;
        left:0px;
        top:0px;
        box-sizing: border-box;
        padding:10px;
    }
    .videoRight{
        /*height: 200px;*/
        /*background: #fff;*/
        box-sizing: border-box;
        padding:0px;
        margin-top: 10px;
        /*background: rgb(251,244,204)!important;*/
    }
    .videoRight .topVideo{
        height: 200px;
    }
    .videoRight .bottomVideo{
        height: 200px;
        margin-top: 10px;
    }
}
